# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- import_yaml "github-runner/defaults.yaml" as defaults %}

{#- Merge os specific defaults over our defaults #}
{%- from "github-runner/osmap.jinja" import osmap with context %}
{%- do salt['defaults.merge'](defaults['github-runner'], osmap) %}

{#- Allow custom imports to reduce pillar load on the master #}
{%- set import_file = salt['pillar.get']('github-runner:defaults', '') %}
{%- if import_file != '' %}
  {%- set custom_defaults = {} %}
  {%-
    set import_type = import_file|lower|regex_match('.*\.(json|ya?ml|jinja)$')
  %}
  {%- if import_type|length > 0 %}
    {%- if import_type[0] in ['json'] %}
      {%- import_json import_file as custom_defaults %}
    {%- elif import_type[0] in ['yml', 'yaml'] %}
      {%- import_yaml import_file as custom_defaults %}
    {%- elif import_type[0] in ['jinja'] %}
      {%- from import_file import github_runner_settings as custom_defaults %}
    {%- endif %}
  {%- endif %}
  {%- do salt['defaults.merge'](defaults, custom_defaults) %}
{%- endif %}

{#-
 # While we try to encourage usage of custom defaults within the state
 # tree, we want to be flexible enough to support pillar overrides for
 # any setting
#}
{%-
  set github_runner_settings = salt['pillar.get'](
    'github-runner', defaults['github-runner'],
    merge=True,
  )
%}

{%- if github_runner_settings.package_url|length == 0 %}
  {%- set cpuarch_grain = salt['grains.get']('osarch', grains['cpuarch']) %}
  {%- set arch = cpuarch_grain|lower %}
  {%- if arch in ("amd64", "x86_64") %}
  {%- set arch = "x64" %}
  {%- elif arch == "aarch64" %}
  {%- set arch = "arm64" %}
  {%- elif arch in ("armhf", "armv7l")  %}
  {%- set arch = "arm" %}
  {%- endif %}

  {%- set kernel_grain = salt['grains.get']('kernel') %}
  {%- set kernel = kernel_grain|lower %}
  {%- set package_suffix = "tar.gz" %}
  {%- if kernel == "MacOS" %}
  {%- set kernel = "osx" %}
  {%- elif kernel == "Windows" %}
  {%- set kernel = "win" %}
  {%- set package_suffix = "zip" %}
  {%- endif %}
  {%- do github_runner_settings.update({'kernel': kernel }) %}

  {%-
    set package_hash = github_runner_settings.get('package_hashes', {}).get(
      arch
    )
  %}
  {%- do github_runner_settings.update({'package_hash': package_hash }) %}

  {%- if "labels" not in github_runner_settings %}
  {%- do github_runner_settings.update({'labels': []}) %}
  {%- endif %}
  {%- do github_runner_settings.labels.append(cpuarch_grain) %}
  {%- do github_runner_settings.labels.append(kernel_grain) %}

  {%- set version = github_runner_settings.version %}

  {%- set download_loc = github_runner_settings.base_url ~ '/v' ~ version %}
  {%-
    set package_name = 'actions-runner-' ~ kernel ~ '-' ~ arch ~ '-' ~
      version ~ '.' ~ package_suffix
  %}
  {%- set package_url = download_loc ~ '/' ~ package_name %}
  {%- do github_runner_settings.update({'package_url': package_url }) %}
{%- endif %}
