# -*- coding: utf-8 -*-
# vim: ft=yaml
---

MacOS:
  install_dir: /opt/github/actions-runner
  script_suffix: sh

Linux:
  install_dir: /opt/github/actions-runner
  script_suffix: sh

Windows:
  install_dir: 'C:/github/actions-runner'
  script_suffix: cmd
