# -*- coding: utf-8 -*-
# vim: ft=yaml
---

MacOS:
  install_dir: /opt/github/actions-runner
  package_hash: b2c91416b3e4d579ae69fc2c381fc50dbda13f1b3fcc283187e2c75d1b173072
  script_suffix: sh

Linux:
  install_dir: /opt/github/actions-runner
  package_hash: ba46ba7ce3a4d7236b16fbe44419fb453bc08f866b24f04d549ec89f1722a29e
  script_suffix: sh

Windows:
  install_dir: 'C:/github/actions-runner'
  package_hash: 88d754da46f4053aec9007d172020c1b75ab2e2049c08aef759b643316580bbc
  script_suffix: cmd
