---
github-runner:
  # Note that default values are commented out.

  # You can specify the GitHub Runner version. Note that the runner
  # will automatically update itself as needed, so setting this is not
  # required.
  #version: '2.321.0'

  # The SHA256 hash of the downloaded runner package.
  #package_hash: "ba46ba7ce3a4d7236b16fbe44419fb453bc08f866b24f04d549ec89f1722a29e"

  # One would only need change this if hosting custom builds.
  #base_url: 'https://github.com/actions/runner/releases/download'

  # If unset, the package download URL is automatically determined
  # based on kernel, architecture and version.
  #package_url: ''

  # You can override the OS-specific installation path default.
  # MacOS / Linux:
  #install_dir: '/opt/github/actions-runner'
  # Windows:
  #install_dir: 'C:/github/actions-runner'
