---
github-runner:
  # Add your token from GitHub here.
  repo_token: ''

  ## The following settings are optional. Defaults are commented out.

  # Add any additional labels to the runner that you like. The values
  # of the `cpuarch` and and `kernel` grains will always be added
  # automatically.
  # https://docs.github.com/en/actions/hosting-your-own-runners/managing-self-hosted-runners/using-labels-with-self-hosted-runners#programmatically-assign-labels
  #labels:
  #  - arm64
  #  - Linux

  # You can specify the GitHub Runner version. Note that the runner
  # will automatically update itself as needed, so setting this is
  # generally not required.
  #version: '2.321.0'

  # The SHA256 hash of the downloaded runner package, which is OS-specific.
  #
  # MacOS:
  #package_hash: 'b2c91416b3e4d579ae69fc2c381fc50dbda13f1b3fcc283187e2c75d1b173072'
  # Linux:
  #package_hash: 'ba46ba7ce3a4d7236b16fbe44419fb453bc08f866b24f04d549ec89f1722a29e'
  # Windows:
  #package_hash: '88d754da46f4053aec9007d172020c1b75ab2e2049c08aef759b643316580bbc'

  # One would only need change this if hosting custom builds.
  #base_url: 'https://github.com/actions/runner/releases/download'

  # If unset, the package download URL is automatically determined
  # based on kernel, architecture and version.
  #package_url: ''

  # You can override the installation path default (which is
  # OS-specific).
  #
  # MacOS / Linux:
  #install_dir: '/opt/github/actions-runner'
  # Windows:
  #install_dir: 'C:/github/actions-runner'
